.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --lightblue: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #f8f9fa;
}

.App-link {
  color: #b0bbbe;
}

.viewPage-header {
  height: calc(100vh - 88px);
}

.footer-to-bottom {
  position: absolute;
  bottom: 0;
  top: 100%;
}

.tab {
  tab-size: 4;
}

.home-search {
  border-radius: 50px 0px 0 50px;
  border-width: 2px;
  box-shadow: 0px 0px 2px 3px var(--lightblue);
}

.search-btn {
  border-radius: 30px 30px 30px 30px;
}

.home-search::placeholder {
  font-weight: 100;
  font-size: 20px;
  color: var(--lightblue);
}